name: python-deployment
run-name: ${{ github.actor }} - ${{ github.sha }}

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  PYTHON_VERSION: 3.8

jobs:
  python-ci:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./src

    steps:

    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      name: Setup Python ${{ env.PYTHON_VERSION }}
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-cov
        pip install -r requirements.txt

    - name: Lint
      run: |
        flake8 . --show-source --statistics
      continue-on-error: true

    - name: Check Complexity
      run: |
        flake8 . --statistics --max-complexity=10 --exit-zero
      continue-on-error: true

    - name: Run unit tests with pytest
      run: |
        pytest -v --cov=. --cov-report=term-missing --cov-report=json

    - name: Show coverage report
      run: |
        coverage report

    - uses: actions/upload-artifact@v2
      name: Upload artifact
      with:
        name: code
        path: ./src
